{% load static %}

<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="#" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static "assets/images/logo-sm.svg" %}" alt="" height="30">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static "assets/images/logo-sm.svg" %}" alt="" height="24"> <span class="logo-txt">BudgetBuddy</span>
                    </span>
                </a>
                <a href="#" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static "assets/images/logo-sm.svg" %}" alt="" height="30">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static "assets/images/logo-sm.svg" %}" alt="" height="24"> <span class="logo-txt">BudgetBuddy</span>
                    </span>
                </a>
            </div>
            <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>

        

        <div class="d-flex">
            {% comment %} <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item" id="mode-setting-btn">
                    <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                    <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                </button>
            </div> {% endcomment %}
            
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item bg-soft-light border-start border-end" id="page-header-user-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar-sm d-inline-block align-middle me-2">
                    <div class="avatar-title bg-soft-light text-light font-size-20 m-0 rounded-circle">
                        <i class="bx bxs-user-circle"></i>
                    </div>
                </div>
                    <span class="d-none d-xl-inline-block ms-1 fw-medium">{% if request.user.is_authenticated %}{{request.user.first_name}}{% endif %}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><i class="mdi mdi-face-profile font-size-16 align-middle me-1"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url "logout" %}"><i class="mdi mdi-logout font-size-16 align-middle me-1"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>