{% extends "./base_auth.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="auth-content my-auto">
    <div class="text-center">
        <h5 class="mb-0">Register Account</h5>
        <p class="text-muted mt-2">Get your free Dason account now.</p>
    </div>
    <form class="needs-validation mt-4 pt-2" novalidate action="{% url "register" %}" method="post">
        {% csrf_token %}
        <div class="form-floating form-floating-custom mb-4">
            <input type="email" class="form-control" id="input-email" placeholder="Enter Email" name="email" required>
            <div class="invalid-feedback">
                Please Enter Email
            </div> 
            <label for="input-email">Email</label>
            <div class="form-floating-icon">
                <i data-feather="mail"></i>
            </div>
        </div>

        <div class="form-floating form-floating-custom mb-4">
            <input type="text" class="form-control" id="input-username" placeholder="Enter User Name" name="first_name" required>
            <div class="invalid-feedback">
                Please Enter Name
            </div> 
            <label for="input-username">Name</label>
            <div class="form-floating-icon">
               <i data-feather="users"></i>
            </div>
        </div>

        <div class="form-floating form-floating-custom mb-4">
            <input type="password" class="form-control" id="input-password" placeholder="Enter Password" name="password" required>
            <div class="invalid-feedback">
                Please Enter Password
            </div> 
            <label for="input-password">Password</label>
            <div class="form-floating-icon">
                <i data-feather="lock"></i>
            </div>
        </div>
        {% comment %} <div class="mb-4">
            <p class="mb-0">By registering you agree to the Dason <a href="#" class="text-primary">Terms of Use</a></p>
        </div> {% endcomment %}
        <div class="mb-3">
            <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Register</button>
        </div>
    </form>

    <div class="mt-4 pt-2 text-center">
        <div class="signin-other-title">
            <h5 class="font-size-14 mb-3 text-muted fw-medium">- Sign up using -</h5>
        </div>
        <div class="mb-3">
            <button class="btn btn-dark w-100" type="submit"><i class="mdi mdi-google"></i>&nbsp;&nbsp;&nbsp;Google</button>
        </div>

        {% comment %} <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="javascript:void()"
                    class="social-list-item bg-primary text-white border-primary">
                    <i class="mdi mdi-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="javascript:void()"
                    class="social-list-item bg-info text-white border-info">
                    <i class="mdi mdi-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="javascript:void()"
                    class="social-list-item bg-danger text-white border-danger">
                    <i class="mdi mdi-google"></i>
                </a>
            </li>
        </ul> {% endcomment %}
    </div>

    <div class="mt-5 text-center">
        <p class="text-muted mb-0">Already have an account ? <a href="{% url "login" %}"
                class="text-primary fw-semibold"> Login </a> </p>
    </div>
</div>

{% endblock content %}

